HTTP proxy has incorrect request-target

See https://tools.ietf.org/html/rfc7231#section-4.3.6

> A client sending a CONNECT request MUST send the authority form of
> request-target (Section 5.3 of [RFC7230]); i.e., the request-target
> consists of only the host name and port number of the tunnel
> destination, separated by a colon.

Your implementation has only host name but no port number.